
#root{
    background: white;
}
.burger{
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
}
.burger span {
  display: block;
  height: 3px;
  border-radius: 3px;
  background: #032e15; /* default (on hero background) */
  transition: all 0.3s ease;
}
#hero{
     position: relative;
  min-height: 80vh;
}
#hero::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 218px;
    background-image: url('assets/img/bg.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    bottom: -218px;

}